
@font-face {
    font-family: 'Texturina', serif;
    src: url('../fonts/Texturina.ttf') format('truetype');
}
body{
    font-family: 'Texturina', serif;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
}
#sideGameArea{
    height: 95%;
    overflow-y: auto;
    border: solid black 0.4em;
    background-color: rgb(44, 46, 54);
}
.hidden{
    display: none;
}
.shown{
    display: block;
}
.disabled{
    width: 0%;
    opacity: 0;
    display: none;
}
.enabled{
    width: 30%;
    opacity: 1;
    display: block;
}
.mainGameNormal{
    width: 100%;
}
.mainGameCompressed{
    width: 70%;
}
#enemyArea
{
    height: 35em;
    border: black solid 0.5em;
    border-bottom: none;
    background-color: white;
}
#enemy
{
    top: 40%;
    left: 50%;
    position: relative;
    
    transition: 0.1s;
}
/* character animations (click) */
#characterArea
{
    border: solid 0.5em black;
    padding: 0.2em;
    border-top: dashed 0.1em gray;
    display: flex;
    justify-content: center;
    background-color: white;
}
#characterBox1{
    width: 10%;
    padding-bottom: 1em;
}
#characterBox2{
    width: 10%;
    padding-bottom: 1em;
}
#character
{
    width: 1em;
    height: 1em;
    background-color: white;
    z-index: 2;
    position: relative;
}
#character2
{
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    z-index: 2;
    position: relative;
    border-radius: 50em;
}
/* player 1 */
.clickNotAttack
{
    top: 40%;
    margin: auto;
    border: 0.25em solid rgb(15, 60, 78);
    transition: 0.05s;
}
.clickAttack
{
    top: 40%;
    margin: auto;
    transform: translateY(-1em) scaleY(1.5) scaleX(1.1);
    border: 0.25em solid rgb(15, 60, 78);
    transition: 0.05s;
}
.clickCrit
{
    box-shadow: green 0em 0em 0.5em 0.5em;
    transition: 0.05s;
}
/* player 2 */
.clickNotAttack2
{
    top: 35%;
    margin: auto;
    border: 0.25em solid rgb(15, 60, 78);
    transition: 0.05s;
}
.clickAttack2
{
    top: 35%;
    margin: auto;
    transform: translateY(-1em) scaleY(1.5) scaleX(1.1);
    border: 0.25em solid rgb(15, 60, 78);
    transition: 0.05s;
}
.clickCrit2
{
    box-shadow: green 0em 0em 0.5em 0.5em;
    transition: 0.05s;
}
/* --- */
.enemyCircle
{
    height: 15em;
    width: 15em;
    border-radius: 100em;
    transform: translate(-50%, -50%) scale(1);
}

.enemySquare
{
    height: 15em;
    width: 15em;
    transform: translate(-50%, -50%) scale(1);
}

.enemyHexagon {
position: relative;
width: 15em; 
height: 7.5em;
transform: translate(-50%, -50%) scale(1);
transition: 0.05s;
}

.enemyHexagon:before,
.enemyHexagon:after {
content: "";
position: absolute;
width: 0;
border-left: 7.5em solid transparent;
border-right: 7.5em solid transparent;
left: 0;
transition: 0.1s;
}



/*#enemyArea:active > .enemyHexagon:before,
.enemyHexagon:after {
content: "";
position: absolute;
width: 0;
border-left: 7.5em solid transparent;
border-right: 7.5em solid transparent;
left: 0;
transition: 0.05s;
}

#enemyArea:active > .enemyHexagon:before {
bottom: 99.4%;
border-bottom: 4.25em solid red;
transition: 0.05s;
}

#enemyArea:active > .enemyHexagon:after {
top: 99.4%;
width: 0;
border-top: 4.25em solid red;
transition: 0.05s;
}*/

.enemySquircle
{
    height: 15em;
    width: 15em;
    border-radius: 4em;
    transform: translate(-50%, -50%) scale(1);
}
.enemyPill
{
    height: 15em;
    width: 10em;
    border-radius: 100em;
    transform: translate(-50%, -50%) scale(1);
}
.enemyEgg
{
    display: block;
    width: 13em;
    height: 15em;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: translate(-50%, -50%) scale(1);
}

.boss
{
    transform: translate(-50%, -50%) scale(1.35) translateY(-2em);
}
.golden
{
    background-color: gold;
}
.regular
{
    background-color: green;
}

/* enemy taking damage or being killed */
.damaged
{   
    background-color: red;
    transform: translate(-50%, -55%) skewY(1deg) skewX(-10deg) translateX(20px) scale(1);
}
.bossDamaged
{
    background-color: red;
    transform: translate(-50%, -55%) skewY(1deg) skewX(-10deg) translateX(20px) scale(1.35) translateY(-2.2em);
}
.hexDamaged1
{
    border-bottom: red;   
}
.hexDamaged2
{
    border-top: red;   
}

.killed
{
    opacity: 0;
    transition: 0.15s;
    transform: skewX(-1deg) skewY(1deg) translate(-50%, -55%) scale(1.1);
}
.boss.killed
{
    opacity: 0;
    transition: 0.15s;
    transform: skewX(-1deg) skewY(1deg) translate(-50%, -55%) scale(1.4);
}

p
{
    margin: 0.1em;
}

/* Heroes styling */
#heroesArea
{
    display: relative;
    margin: 5px auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.heroBox
{
    position: relative;
    width: 20em;
    border: solid black 0.3em;
    border-radius: 0.1em;
    margin: 0.1%;
    background-color: white;
}
.heroSpriteBox
{
    width: 20em;
    height: 5em;
    box-sizing: border-box;
}
.heroes
{
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    transition: 0.1s;
    transition-timing-function: ease-in;
}
.heroBox > img
{
    position: absolute;
    left: 0;
    width: 1.5em;
    border: black solid 0.1em;
    padding: 0.1em;
    border-left: none;
    border-top: none;
}
#hero1Sprite
{
    background-color: blue;
}
#hero2Sprite
{
    background-color: rgb(255, 153, 0);
    border-radius: 50%;
}
#hero3Sprite
{
    background-color: rgb(255, 0, 0);
    border-radius: 25%;
}
/* hero 4 */
#hero4Sprite
{
    top: 30%;
    left: 50%;
}
.star {
position: relative;

display: block;
width: 0;
height: 0;

margin-left: 0em;
margin-right: 0em;
margin-bottom: 0em;

border-right:  .3em solid transparent;
border-bottom: .7em  solid rgb(132, 0, 255);
border-left:   .3em solid transparent;

/* Controlls the size of the stars. */
font-size: 24px;


}
.star:before, .star:after {
content: '';

display: block;
width: 0;
height: 0;

position: absolute;
top: 0.6em;
left: -1em;

border-right:  1em solid transparent;
border-bottom: .7em  solid rgb(132, 0, 255);
border-left:   1em solid transparent;

transform: rotate(-35deg);
}

.star:after {  
transform: rotate(35deg);
}
/* hero 5 */
#hero5Sprite
{
    top: 50%;
    left: 50%;
}
.hexagon {
position: relative;
width: 35px; 
height: 18px;
background-color: rgb(0, 145, 0);
}

.hexagon:before,
.hexagon:after {
content: "";
position: absolute;
width: 0;
border-left: 17.5px solid transparent;
border-right: 17.5px solid transparent;
left: 0;
}

.hexagon:before {
bottom: 100%;
border-bottom: 10px solid rgb(0, 145, 0);
}

.hexagon:after {
top: 100%;
width: 0;
border-top: 10px solid rgb(0, 145, 0);
}

#hero6Sprite
{
    top: 50%;
    left: 50%;
    width: 1em;
    height: 2.5em;
    border-radius: 50em;
    background-color: yellow;
    border: 0.075em rgb(170, 159, 95) solid;
}

#hero7Sprite
{
    top: 50%;
    left: 50%;
    width: 2.25em;
    height: 1.75em;
    border-radius: 0.2em;
    background-color: rgb(255, 153, 0);
}

#hero8Sprite
{
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    background-color: rgb(132, 0, 255);
}

#hero9Sprite
{
    top: 50%;
    left: 50%;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50em;
    background-color: rgb(255, 0, 0);
}

#hero10Sprite
{
    top: 50%;
    left: 50%;
    width: 1.8em;
    height: 2.2em;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: yellow;
    border: 0.075em rgb(170, 159, 95) solid;
}
#hero11Sprite
{
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 2.5em;
    background-color: green;
}
#hero12Sprite
{
    top: 50%;
    left: 50%;
    width: 1.8em;
    height: 2.2em;
    border-radius: 50%;
    background-color: blue;
}

.rotated
{
    transform: translate(-1em, -1em) rotate(-45deg);
}


.attacking1
{
    top: 30%;
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(0, 143, 153) 0px 0px 6px 5px;
}
.attacking2
{
    top: 60%;
    transition: 0.1s;
    transition-timing-function: ease-out;
    box-shadow: rgb(0, 0, 0) 0px -2.5em 0px -10px;
}
.attacking3
{
    top: 35%;
    transition: 0.1s;
    transition-timing-function: ease-in;
    height: 4em;
    width: 1em;
    box-shadow: rgb(255, 166, 0) 0px -15px 3px -3px;
}
.attacking4
{
    top: 65%;
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(215, 114, 255) 0px -30px 3px -4px;
    transform: scale(1.15) translateX(-0.25em);
}
.attacking5
{
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(98, 255, 106) 0px -10px 3px 0px;
    transform: scale(1.1) translate(-1em, -1.25em);
}
.attacking6
{
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(245, 255, 110) 0px 10px 3px 0px;
    transform: scale(1.1) translate(-1em, -3em) rotate(180deg);
}
.attacking7
{
    transition: 0.1s;
    transition-timing-function: ease-out;
    box-shadow: rgb(255, 153, 0) 0px -50px 0px -9px,  rgb(255, 153, 0) 0px -35px 0px -10px, rgb(255, 153, 0) 0px -15px 0px -10px;
    transform: scale(1.1) translate(-1em, 0.4em);
}
.attacking8
{
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(48, 0, 138) -2em -2em 0.3em -0.5em;
    transform: scale(1.05) translate(-1em, 0em) rotate(45deg);
}
.attacking9
{
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    box-shadow: rgb(107, 0, 0) 0em -0.2em 0.3em 0.2em;
    transform: scale(1.15) translate(-0.8em, -1.75em);
}
.attacking10
{
    transition: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgb(255, 222, 112) 0em -2.2em 0.3em -0.3em;
    transform: scale(1.1) translate(-0.9em, -0.5em);
}
.attacking11
{
    transition: 0.1s;
    transition-timing-function: ease-out;
    box-shadow: rgb(22, 71, 7) 0em -2.2em 0.3em -0.1em;
    transform: scaleX(2) scaleY(0.5) translate(-0.4em, -4.5em);
}
.attacking12
{
    transition: 0.1s;
    transition-timing-function: ease-out;
    box-shadow: blue 0em -2em 0em -0.4em, blue 0em -3em 0em -0.4em;
    transform: scale(0.8) translate(-1.15em, -0.7em);
}


/* top UI */
#bossButton{
    
    position: relative;
    top: 0.5em;
}
#stageStats
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}
#stageStats > div
{
    box-sizing: border-box;
    width: 33%;
    border: solid black 0.3em;
    border-radius: 0.1em;
    margin: 0.1%;
    font-size: 2em;
}
#healthStat
{
    box-sizing: border-box;
    width: 99.1%;
    border: solid rgb(255, 0, 55) 0.1em;
    color: rgb(255, 0, 55);
    text-shadow: black 0.04em 0em, black -0.04em 0em, black 0em 0.04em, black 0em -0.04em;
    border-radius: 0.1em;
    margin: 0.4%;
    font-size: 2em;
    padding: 0.1em;
    background: url(../images/healthMeter.png);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    transform: skewX(-10deg);
}
#timeStat{
    opacity: 1;
    box-sizing: border-box;
    border: solid rgb(63, 152, 158) 0.1em;
    width: 99.1%;
    margin: 0.4%;
    background: url(../images/timeMeter.png);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    transform: skewX(-10deg);
    font-size: 1.5em;
    color: white;
    text-shadow: black 0.04em 0em, black -0.04em 0em, black 0em 0.04em, black 0em -0.04em;
    transition: 1s;
    transition-timing-function: linear;
}   
#goldStat
{
    box-sizing: border-box;
    width: 25%;
    color:rgb(255, 187, 0);
    text-shadow: black 0.04em 0em, black -0.04em 0em, black 0em 0.04em, black 0em -0.04em;
    border-radius: 0.1em;
    margin: 0.1%;
    font-size: 2em;
    padding: 0.1em;
}

/* click UI */
#playerStats{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#playerStats > div
{
    padding: 0.25em;
    box-sizing: border-box;
    width: 20em;
    border: solid black 0.3em;
    border-radius: 0.1em;
    margin: 0.1%;
    font-size: 2em;
    background-color: white;
}
/* Ability UI */
#abilityArea
{
    border: solid black 0.4em;
    margin: 5px auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    background-color: rgb(186, 194, 226);
}
#abilityArea > div
{
    background-color: white;
}
#ability1Area
{
    border: solid black 0.2em;
    border-radius: 1em;
    padding: 0.25em;
}

#abilityBuyArea
{
    border: solid black 0.4em;
    margin: 5px auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    background-color: white;
}
#ability1BuyArea
{
    border: solid black 0.2em;
    border-radius: 1em;
    padding: 0.25em;
}
/* save buttons */
#saveArea
{
    background-color: white;
}
#saveArea > button
{
    padding: 1em;
    margin: 1em;
    border: solid black 0.25em;
    border-radius: 0.5em;
    background-color: rgb(214, 214, 214);
    transition: 0.15s;
    color: black;
}
#saveArea > button:hover
{
    box-shadow: black 0em 0.25em;
    transform: translateY(-0.25em);
    transition: 0.15s;
}
#saveArea > button:active
{
    box-shadow: black 0em 0em 0.35em;
    transform: translateY(0em);
    transition: 0.15s;
}
/* other buttons */
#multiButton
{
    padding: 1em;
    margin: 1em;
    border: solid black 0.35em;
    border-radius: 0.5em;
    background-color: rgb(214, 214, 214);
    transition: 0.15s;
    color: black;
}
#multiButton:hover
{
    box-shadow: black 0em 0.25em;
    transform: translateY(-0.25em);
    transition: 0.15s;
}
#multiButton:active
{
    box-shadow: black 0em 0em 0.5em;
    transform: translateY(0em);
    transition: 0.15s;
}

#playerStats > button
{
    padding: 1em;
    margin: 1em;
    border: solid black 0.35em;
    border-radius: 0.5em;
    background-color: rgb(214, 214, 214);
    transition: 0.15s;
    color: black;
}
#playerStats > button:hover
{
    box-shadow: black 0em 0.25em;
    transform: translateY(-0.25em);
    transition: 0.15s;
}
#playerStats > button:active
{
    box-shadow: black 0em 0em 0.5em;
    transform: translateY(0em);
    transition: 0.15s;
}
button
{
    padding: 0.2em;
    margin: 0.1em;
    border: solid rgb(0, 0, 0) 0.35em;
    border-radius: 0.5em;
    background-color: rgb(145, 145, 145);
    color: white;
    text-shadow: black 0em 0em 0.33em, black 0em 0em 0.1em;
    transition: 0.15s;
    font-family: 'Texturina', serif;
}
button:hover
{
    box-shadow: rgb(0, 0, 0)0em 0.25em;
    transform: translateY(-0.25em);
    transition: 0.15s;
}
button:active
{
    box-shadow: black 0em 0em 0.25em;
    transform: translateY(0em);
    transition: 0.15s;
}
/* info stuff */
#infoArea > p
{
    background-color: white;
    border: solid black 0.2em;
}
#multiplierInfo
{
    display: none;
}
#multiplierInfo > div
{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: white;
}

/* tabs UI */
#tabs
{
    position: fixed;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
#tabs > div
{
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 18%;
    /*margin: 0em 1% 0em 1%;*/
    border: solid black 0.2em;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0em 0em;
    font-size: 1em;
    background-color: white;
    box-shadow: black 0em 0.5em;
    transition: 0.2s;
    z-index: 3;
}
#tabs > div:hover
{
    transform: scaleY(1.1) translateY(-0.15em);
    transition: 0.2s;
}
/* prestige styles */
#prestigeArea
{
    border: solid black 0.5em;
    border-radius: 0.2em;
    padding: 0.5em;
    background-color: white;
}
#prestigeButton
{
    padding: 0.1em;
    font-size: 2em;
    background-color: rgb(41, 80, 41);
    text-shadow: rgb(0, 255, 0) 0em 0em 0.1em;
    border-radius: 0em;
    border: solid black 0.25em;
}
#prestigeButton:hover
{
    box-shadow: black 0em 0.1em 0em;
    transform: translateY(-0.1em);
}
#shapestones
{
    font-size: 2em;
    color: green;
    text-shadow: black 0.04em 0em, black -0.04em 0em, black 0em 0.04em, black 0em -0.04em
}
#artifactBuyButton
{
    padding: 0.05em;
    font-size: 1.5em;
    border-radius: 0.25em;
    border: solid black 0.25em;
    margin-top: 0.5em;
}
#artifactBuyButton:hover
{
    box-shadow: black 0em 0.1em 0em;
    transform: translateY(-0.1em);
}
/* specific artifact styles */
#artifactArea
{
    font-size: 1.25em;
}
#artifactsBox > div
{
    border: solid black 0.15em;
    margin: 1%;
    background-color: white;
}

/* artifact image styles */
figure > img
{
    position: relative;
    border: solid black 0.2em;
    border-radius: 0.2em;   
}
